video{
	--border: 1px solid;
	position: absolute;
	top: 105px;
	left:535px;
	width: 440px;
	height: 440px
}

#video{
	width: 440px;
	height: 440px
}

@keyframes marquee{
	0%{transform: translateX(100%);}
	100%{transform: translateX(0%);}
}

@media (prefers-reduced-motion: no-preference) {
	.moving-text{
			animation: marquee 3s linear infinite;
	}
}